---
layout: archive
permalink: /year-archive/
title: "Open Questions"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<p>There are very few topics that do not pique my interest, and I get extremely excited when I stumble upon open questions in a field. Now, these are open to me. With each post, I aim to describe the question itself and why I find it fascinating.</p>

<ul>
  <li>The convenience economy</li>
  <li>The state of India's air</li>
  <li>What causes LLMs to break?</li>
  <li>Do animals have a sense of boredom?</li>
  <li>Can we predict the order in which seats are filled in a FCFS scheme?</li>
  <li>How does temperature affect the viscosity of a fluid?</li>
  <li>What does it mean to be American?</li>
  <li>When does an LLM say "I don't know"?</li>
  <li>Does a solution always exist to a puzzle from a Drew Gooden YouTube video?</li>
</ul>

{% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}
